In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [2]:
# Load the dataset
dataset = 'Asset.xlsx'
df = pd.read_excel(dataset)
X = df.iloc[:, 1:]
y = df['AssetType']

In [3]:
X.head()

  SerialNo Manufacturer ModelNbr
0      NaN          NaN      NaN
1      NaN          NaN      NaN
2      NaN          NaN      NaN
3        0          NaN        O
4      NaN          NaN  FRENGER

In [4]:
y.head()

0    CHILLED BEAMS - PASSIVE
1    CHILLED BEAMS - PASSIVE
2    CHILLED BEAMS - PASSIVE
3    CHILLED BEAMS - PASSIVE
4    CHILLED BEAMS - PASSIVE
Name: AssetType, dtype: object

In [5]:
special_values = [1234, 'UNKOWN', 'Unknown', 'NA', 'NULL', 'UNKNOWN', 'TBA', 'N/A', 'NOT VISIBLE', '123TEST', 'UNABLE TO LOCATE', 'NO ID', 'NO ACCESS', 'UNKOWN', 'NaN', 'na', 'AS PER PICS']

# Create a copy of the DataFrame to avoid SettingWithCopyWarning
X_copy = X.copy()

# Replace values using .loc to avoid SettingWithCopyWarning
X_copy.loc[:, 'SerialNo'] = X_copy['SerialNo'].replace(special_values, pd.NA)
X_copy.loc[:, 'Manufacturer'] = X_copy['Manufacturer'].replace(special_values, pd.NA)
X_copy.loc[:, 'ModelNbr'] = X_copy['ModelNbr'].replace(special_values, pd.NA)

# Now X_copy contains the modified DataFrame

In [6]:
X = X_copy

In [7]:
X

          SerialNo Manufacturer       ModelNbr
0              NaN          NaN            NaN
1              NaN          NaN            NaN
2              NaN          NaN            NaN
3                0          NaN              O
4              NaN          NaN        FRENGER
...            ...          ...            ...
289048  3163605860          ABB         ACH550
289049  3163605907          ABB         ACH550
289050  3163006120          ABB         ACH550
289051  42237A0264          ABB         ACH580
289052    611247:1      FANTECH  AP0564LP9B015

[289053 rows x 3 columns]

In [8]:
label_encoder = LabelEncoder()
for column in X.select_dtypes(include=['object']).columns:
    X.loc[:, column] = label_encoder.fit_transform(X[column].astype(str))

y = label_encoder.fit_transform(y.astype(str))

In [9]:
X

        SerialNo  Manufacturer  ModelNbr
0         110291          1127     56490
1         110291          1127     56490
2         110291          1127     56490
3            238          1127     37751
4         110291          1127     25761
...          ...           ...       ...
289048     35124             5      8438
289049     35125             5      8438
289050     35066             5      8438
289051     44067             5      8973
289052     54923           394     11426

[289053 rows x 3 columns]

In [10]:
# Impute missing values
imputer = SimpleImputer(strategy='most_frequent')
X_imputed = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)

C:\ML\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [11]:
X

        SerialNo  Manufacturer  ModelNbr
0         110291          1127     56490
1         110291          1127     56490
2         110291          1127     56490
3            238          1127     37751
4         110291          1127     25761
...          ...           ...       ...
289048     35124             5      8438
289049     35125             5      8438
289050     35066             5      8438
289051     44067             5      8973
289052     54923           394     11426

[289053 rows x 3 columns]

In [12]:
# Initial training subset
initial_train_size = 20000
X_train_initial, _, y_train_initial, _ = train_test_split(X_imputed, y, train_size=initial_train_size, random_state=42)

In [13]:
# Train the RandomForestClassifier on the initial subset
rf_classifier = RandomForestClassifier(n_estimators=100, random_state=63)
rf_classifier.fit(X_train_initial, y_train_initial)

RandomForestClassifier(random_state=63)

In [14]:
chunk_size = 10000
X_test_chunk, _, y_test_chunk, _ = train_test_split(X_imputed, y, test_size=chunk_size, random_state=42)
y_pred_encoded = rf_classifier.predict(X_test_chunk)

In [15]:
accuracy = accuracy_score(y_test_chunk, y_pred_encoded)
print(f"Accuracy on the chunk: {accuracy}")

Accuracy on the chunk: 0.5094946121346124

In [16]:
chunk_size1 = 5000
X_test_chunk1, _, y_test_chunk1, _ = train_test_split(X_imputed, y, test_size=chunk_size1, random_state=63)
y_pred_encoded1 = rf_classifier.predict(X_test_chunk1)

In [17]:
accuracy1 = accuracy_score(y_test_chunk1, y_pred_encoded1)
print(f"Accuracy on the chunk: {accuracy1}")

Accuracy on the chunk: 0.5089261511056036

In [18]:
import joblib

In [19]:
modelName = 'rf_63_whole2'
joblib.dump(rf_classifier, modelName)

['rf_63_whole2']

In [20]:
encoder_name = 'label_encoder2.joblib'
joblib.dump(label_encoder,encoder_name)

['label_encoder2.joblib']

In [36]:
import xgboost as xgb

In [22]:
# Train XGBoost on the same initial subset
dtrain = xgb.DMatrix(X_train_initial, label=y_train_initial)
param = {'max_depth': 6, 'objective': 'multi:softmax', 'num_class': len(label_encoder.classes_)}

In [23]:
num_round = 100
xgb_classifier = xgb.train(param, dtrain, num_round)

In [24]:
# Test XGBoost on the same chunk
dtest = xgb.DMatrix(X_test_chunk)
y_pred_xgb_encoded = xgb_classifier.predict(dtest).astype(int)

In [25]:
accuracy_xgb = accuracy_score(y_test_chunk, y_pred_xgb_encoded)
print(f"Accuracy on the chunk (XGBoost): {accuracy_xgb}")

Accuracy on the chunk (XGBoost): 0.33703633359971047

In [26]:
# Test XGBoost on the same chunk 5000
dtest = xgb.DMatrix(X_test_chunk1)
y_pred_xgb_encoded1 = xgb_classifier.predict(dtest).astype(int)

In [27]:
accuracy_xgb1 = accuracy_score(y_test_chunk1, y_pred_xgb_encoded1)
print(f"Accuracy on the chunk (XGBoost): {accuracy_xgb1}")

Accuracy on the chunk (XGBoost): 0.33688783431261066