In [51]:
import pandas as pd
from sklearn.metrics import accuracy_score
from sklearn.impute import SimpleImputer
import joblib
from sklearn.model_selection import train_test_split

In [60]:
file_path = 'Asset.xlsx'
df = pd.read_excel(file_path)

In [61]:
X = df.iloc[:, 1:]  # Independent variables
y = df['AssetType']  # Dependent variable

In [62]:
type(X)

pandas.core.frame.DataFrame

In [63]:
X

          SerialNo Manufacturer       ModelNbr
0              NaN          NaN            NaN
1              NaN          NaN            NaN
2              NaN          NaN            NaN
3                0          NaN              O
4              NaN          NaN        FRENGER
...            ...          ...            ...
289048  3163605860          ABB         ACH550
289049  3163605907          ABB         ACH550
289050  3163006120          ABB         ACH550
289051  42237A0264          ABB         ACH580
289052    611247:1      FANTECH  AP0564LP9B015

[289053 rows x 3 columns]

In [64]:
special_values = [1234, 'UNKOWN', 'Unknown', 'NA', 'NULL', 'UNKNOWN', 'TBA', 'N/A', 'NOT VISIBLE', '123TEST', 'UNABLE TO LOCATE', 'NO ID', 'NO ACCESS', 'UNKOWN', 'NaN', 'na', 'AS PER PICS']

# Create a copy of the DataFrame to avoid SettingWithCopyWarning
X_copy = X.copy()

# Replace values using .loc to avoid SettingWithCopyWarning
X_copy.loc[:, 'SerialNo'] = X_copy['SerialNo'].replace(special_values, pd.NA)
X_copy.loc[:, 'Manufacturer'] = X_copy['Manufacturer'].replace(special_values, pd.NA)
X_copy.loc[:, 'ModelNbr'] = X_copy['ModelNbr'].replace(special_values, pd.NA)

X = X_copy

In [65]:
from sklearn.preprocessing import LabelEncoder

In [66]:
label_encoder = LabelEncoder()

In [67]:
X['ModelNbr'] = label_encoder.fit_transform(X['ModelNbr'].astype(str))
X['SerialNo'] = label_encoder.fit_transform(X['SerialNo'].astype(str))
X['Manufacturer'] = label_encoder.fit_transform(X['Manufacturer'].astype(str))

y = label_encoder.fit_transform(y.astype(str))

In [68]:
X

        SerialNo  Manufacturer  ModelNbr
0         110291          1127     56490
1         110291          1127     56490
2         110291          1127     56490
3            238          1127     37751
4         110291          1127     25761
...          ...           ...       ...
289048     35124             5      8438
289049     35125             5      8438
289050     35066             5      8438
289051     44067             5      8973
289052     54923           394     11426

[289053 rows x 3 columns]

In [44]:
# Impute missing values
imputer = SimpleImputer(strategy='most_frequent')
X_imputed = pd.DataFrame(imputer.fit_transform(X), columns=X.columns)

C:\ML\lib\site-packages\sklearn\impute\_base.py:49: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode = stats.mode(array)

In [69]:
rf_model = joblib.load('model/rf_60')

In [70]:
chunk_size = 1000
X_test_chunk, _, y_test_chunk, _ = train_test_split(X, y, test_size=chunk_size, random_state=42)
y_pred_encoded = rf_model.predict(X_test_chunk)

In [71]:
accuracy = accuracy_score(y_test_chunk, y_pred_encoded)
print(f"Accuracy on the chunk: {accuracy}")

Accuracy on the chunk: 0.5887874800817905

In [63]:
y_pred_encoded

array([150, 398, 285, ..., 533, 540, 526], dtype=int64)

In [64]:
y_pred_actual = label_encoder.inverse_transform(y_pred_encoded)

In [65]:
y_pred_actual

array(['CASSETTE SPLIT SYSTEM', 'MULTI HEAD DUCTED SPLIT SYSTEM',
       'FIRE PANEL-GRAPHICS SYSTEM', ..., 'VRV CASSETTE SPLIT',
       'WALL MOUNTED SPLIT SYSTEM', 'VARIABLE SPEED DRIVE'], dtype=object)

In [72]:
import joblib

In [73]:
joblib.dump(label_encoder, 'model/label_encoder3.joblib')

['model/label_encoder3.joblib']

In [74]:
file_path1 = 'Asset10k.xlsx'
df1 = pd.read_excel(file_path1)

In [75]:
label_encoder2 = joblib.load('model/label_encoder3.joblib')

In [78]:
X1 = df1.iloc[:, 1:-2]  # Independent variables
y1 = df1['AssetType']  # Dependent variable

In [79]:
X1

            SerialNo Manufacturer    ModelNbr
0                NaN          NaN         NaN
1                NaN          NaN         NaN
2                NaN          NaN         NaN
3                  0          NaN           O
4                NaN          NaN     FRENGER
...              ...          ...         ...
10148            329      MODULEX   PUH-4YKSA
10149            NaN      MODULEX    PUH-3YKA
10150  H803 03649 NF   MITSUBISHI  FDC306HEN3
10151      833325020   MITSUBISHI   SRC35ZG-S
10152       33808014   MITSUBISHI  SRC71ZE-S1

[10153 rows x 3 columns]

In [80]:
special_values = [1234, 'UNKOWN', 'Unknown', 'NA', 'NULL', 'UNKNOWN', 'TBA', 'N/A', 'NOT VISIBLE', '123TEST', 'UNABLE TO LOCATE', 'NO ID', 'NO ACCESS', 'UNKOWN', 'NaN', 'na', 'AS PER PICS']

# Create a copy of the DataFrame to avoid SettingWithCopyWarning
X_copy = X1.copy()

# Replace values using .loc to avoid SettingWithCopyWarning
X_copy.loc[:, 'SerialNo'] = X_copy['SerialNo'].replace(special_values, pd.NA)
X_copy.loc[:, 'Manufacturer'] = X_copy['Manufacturer'].replace(special_values, pd.NA)
X_copy.loc[:, 'ModelNbr'] = X_copy['ModelNbr'].replace(special_values, pd.NA)

X1 = X_copy

In [81]:
X1

            SerialNo Manufacturer    ModelNbr
0                NaN          NaN         NaN
1                NaN          NaN         NaN
2                NaN          NaN         NaN
3                  0          NaN           O
4                NaN          NaN     FRENGER
...              ...          ...         ...
10148            329      MODULEX   PUH-4YKSA
10149            NaN      MODULEX    PUH-3YKA
10150  H803 03649 NF   MITSUBISHI  FDC306HEN3
10151      833325020   MITSUBISHI   SRC35ZG-S
10152       33808014   MITSUBISHI  SRC71ZE-S1

[10153 rows x 3 columns]

In [82]:
X1['ModelNbr'] = label_encoder.transform(X1['ModelNbr'].astype(str))
X1['SerialNo'] = label_encoder.transform(X1['SerialNo'].astype(str))
X1['Manufacturer'] = label_encoder.transform(X1['Manufacturer'].astype(str))

ValueError: y contains previously unseen labels: 'O'