In [ ]:
import pandas as pd

# Assuming you have a DataFrame named 'df' with the relevant columns listed in X
# Replace 'X' with the actual list of column names you're interested in

df = pd.DataFrame('Asset.xlsx')

# List of features
X = df

# Dictionary to store counts for each feature
feature_counts = {}

# Iterate through each feature
for feature in X:
    # Count occurrences of 'NULL', 'NaN', 'NA', 'Unknown' in the current feature
    count_null_na_unknown = df[feature].isin(['NULL', 'NaN', 'NA', 'Unknown']).sum()
    
    # Store the count in the dictionary
    feature_counts[feature] = count_null_na_unknown

# Print the results
for feature, count in feature_counts.items():
    print(f"Number of records with 'NULL', 'NaN', 'NA', 'Unknown' in {feature}: {count}")

In [2]:
import pandas as pd

In [3]:
dataset = 'Asset.xlsx'
df = pd.read_excel(dataset)

In [33]:
X = df.iloc[:, 1:-3]

In [34]:
X.head()

  SerialNo Manufacturer ModelNbr
0      NaN          NaN      NaN
1      NaN          NaN      NaN
2      NaN          NaN      NaN
3        0          NaN        O
4      NaN          NaN  FRENGER

In [35]:
feature_counts = {}

# Iterate through each feature
for feature in X:
    # Count occurrences of 'NULL', 'NaN', 'NA', 'Unknown' in the current feature
    count_null_na_unknown = X[feature].isin([1234,'UNKOWN','Unknown','NA', 'NULL', 'UNKNOWN','TBA','N/A','NOT VISIBLE','123TEST', 'UNABLE TO LOCATE', 'NO ID', 'NO ACCESS', 'UNKOWN', 'NaN', 'na','AS PER PICS',0]).sum()
    
    # Store the count in the dictionary
    feature_counts[feature] = count_null_na_unknown

In [36]:
for feature, count in feature_counts.items():
    print(f"Number of records with 'NULL', 'NaN', 'NA', 'Unknown' in {feature}: {count}")

Number of records with 'NULL', 'NaN', 'NA', 'Unknown' in SerialNo: 26040
Number of records with 'NULL', 'NaN', 'NA', 'Unknown' in Manufacturer: 10755
Number of records with 'NULL', 'NaN', 'NA', 'Unknown' in ModelNbr: 20304

In [37]:
import numpy as np

In [38]:
# Values to check for
values_to_check = ['UNKNOWN', 'UNABLE TO LOCATE', 'NO ID', 'NA', 'NaN', 'NULL', 'UNKOWN', 'TBA', 'N/A', 'NOT VISIBLE', '123TEST']

# Count records without specified values in any of the 5 features
count_invalid_records = np.sum(np.any(np.isin(X, values_to_check), axis=1))

In [39]:
count_invalid_records

33922